


body{
    font-family: 'Lato', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #2d3950;
    text-transform: uppercase;
    font-weight: 400;
}
header{
    background-color: #f6f9f9;
}
.banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hg{
    min-height: 90vh;
}
.banner h1{

color: #fff;

font-size: 90px;

text-transform: uppercase;

font-weight: 600;
}
.banner span{

display: block;

width: 100%;

height: 2px;

background-color: #15a4fa;

margin-bottom: 15px;
}
.banner p{

color: #fff;
}
.btn-action{

border: 1px solid #15a4fa;

text-transform: capitalize;

color: #fff;

padding: 0;

padding: 7px 15px;

margin-top: 30px;
}
.btn-action:hover{
    color: #fff;
    background-color: #15a4fa;
}
.icon{
    
color: #fff;
    
position: absolute;
    
left: 50%;
    
bottom: 10%;
    
transform: translateX(-50%);
    
font-size: 25px;
animation: updown 1s infinite linear;
animation-direction: alternate;
}

@keyframes updown{
    0%{
        bottom: 15%;
    }
    100%{
        bottom: 10%;
    }
}
.simple{
    padding: 50px 0px;
    background-color: #f6f9f9;
}
.simple h2{
    color: #2d3950;
}
.simple p{
    color: #999999;
}
.feature{

margin: 50px 0;

text-align: center;
}
.feature_icon{

height: 100px;

width: 100px;

 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+100 */

background: #48baff; /* Old browsers */

background: -moz-linear-gradient(left,  #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */

margin: auto;

display: flex;

justify-content: center;

align-items: center;

font-size: 40px;

color: #fff;

margin-bottom: 15px;

border-radius: 3px;
}
.feature h2{color: #2d3950;font-size: 22px;}
.feature p{
    
color: #999999;
}